[submodule "Externals/DTFoundation"]
	path = Externals/DTFoundation
	url = https://github.com/Cocoanetics/DTFoundation.git 
[submodule "Externals/DTBonjour"]
	path = Externals/DTBonjour
	url = https://github.com/Cocoanetics/DTBonjour.git
[submodule "Externals/DTLocalizableStringScanner"]
	path = Externals/DTLocalizableStringScanner
	url = https://github.com/Cocoanetics/DTLocalizableStringScanner.git
